<html>
<head>
  <title></title>
  <script src="https://kit.fontawesome.com/6b1574191b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="mx-auto mt-2 col-md-10 col-sm-10">
      <my-button *ngIf="tableConfig.actions.includes(enum.NEW_ROW)" [buttonConfig]="addButtonConfig"
                 (click)="getEvent(null, enum.NEW_ROW)"></my-button>
      <select #searchFor name="searchFor" class="mt-2 form-select">
        <option *ngFor="let option of tableConfig.search.columns">
          {{option}}
        </option>
      </select>
      <input #searchValue type="text" class="form-control" id="search" name="search" placeholder="Cerca..."
             (keyup)="applyFilter(searchFor.value, searchValue.value)"/>
      <table class="table table-striped table-bordered">
        <thead>
        <th *ngFor="let header of tableConfig.headers" (click)="sort(header.key)">{{header.label}}</th>
        </thead>
        <tbody>
        <tr
          *ngFor="let d of filtered | sort:order:column | pagination:tableConfig.pagination.itemPerPage:page; let rowId = index"
          [attr.id]="rowId">
          <td *ngFor="let n of tableConfig.headers">{{d[n.key]}}</td>
          <td>
            <my-button *ngIf="tableConfig.actions.includes(enum.EDIT)" [buttonConfig]="editButtonConfig"
                       (click)="getEvent(d,enum.EDIT)"></my-button>
          </td>
          <td>
            <my-button *ngIf="tableConfig.actions.includes(enum.DELETE)" [buttonConfig]="deleteButtonConfig "
                       (click)="getEvent(d, enum.DELETE)"></my-button>
          </td>
        </tr>
        </tbody>
      </table>
      <select class="form-select col-sm-3 col-md-3" [(ngModel)]="tableConfig.pagination.itemPerPage" (ngModelChange)="onItemPerPageChange()">
        <option *ngFor="let i of tableConfig.pagination.itemPerPageOptions">{{i}}</option>
      </select>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto justify-content-center mt-2 btn-group col-md-10 col-sm-10">
      <my-button [buttonConfig]="prevButtonConfig" (click)="prev()"></my-button>
      <my-button *ngFor="let p of iterableMaxPages | slice:page-5:page+5"
                 [buttonConfig]="setPageButton(p)" (click)="setPage(p)"></my-button>
      <my-button [buttonConfig]="nextButtonConfig" (click)="next()"></my-button>
    </div>
  </div>
</div>
</body>
<html>

